# Ignore environment configuration files
.env

# Ignore specific text files
/Steps.txt
/commands.txt

# Ignore large Terraform provider file
terraform/.terraform/*
*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars
*.tfvars.json
.terraform.lock.hcl


/second-test-ec2.pem
/.vscode